<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -  -->
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

	<logger level="DEBUG" name="org.chatch.ethrpc4j" />
	<logger level="DEBUG" name="com.googlecode.jsonrpc4j" />

</configuration>